**/Library/
**/Temp/
**/obj/

**/.vscode/
**/.vs

# **/Assets/Plugins/*
# **/Assets/Plugins.meta
**/Assets/Character
**/Assets/Character.meta
**/Assets/Shader/
**/Assets/Shader.meta
# **/Assets/ModelPack/





*.user
*.idea
*.csproj
*.csproj.user
*.sln
*.suo
*.userprefs
*.app
*.VC.*
.DS_Store
*.swp
*.DotSettings

.vs/
build/*
Assets/Fonts/SourceHanSansCN/SourceHanSansCN-Regular SDF.asset
